.page {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 5vh;
  margin: 1vh;
  font-family: var(--main-font);
}

.titlesection {
  color: var(--primary-accent)
}

.main h1{
  font-weight: 400;
}
.subtitle {
  font-weight: bold; 
  font-size: 2rem;
}
.options{

  display: flex;
  gap: 2rem;
  justify-content: center;
  padding-top: 2rem;

}
.option {
  min-width: 10rem;
  min-height: 18rem;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1.5rem;
  padding-right: 3rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.option p{
  font-size: 16px;
}
.icon{
  height: 128px;
  width: 128px;
}
.assembly {
  background-color: var(--secondary-accent);
}
.inventory {
  background-color: var(--tertiary-accent);
}
